@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --site-400: #19142d;
    --site-300: #231e37;
    --site-200: #373250;
    --site-100: #554b69;
    --off-white: #fefefe;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--site-400);
}