@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --site-400: #19142d;
    --site-300: #231e37;
    --site-200: #373250;
    --site-100: #554b69;
    --off-white: #fefefe;
    --rhino-purple: #8d7be4;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--site-400);
    color: var(--off-white);
}

.post-list-heading {
    color: var(--off-white);
}

.post-list {
    background-color: var(--site-300);
    border-radius: 0.65em;
    padding: .5em;
}

.post-list li {
    background-color: var(--site-200);
    border-radius: 0.65em;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.post-meta {
    color: var(--off-white);
}

.post-link {
    color: var(--rhino-purple);
}

.site-title {
    color: var(--off-white);
    text-decoration: none;
}

a .page-link {
    color: var(--off-white);
    text-decoration: none;
}

.page-link:visited {
    color: var(--off-white);
    text-decoration: none;
}

.page-link:hover {
    color: var(--off-white);
    text-decoration: none;
    font-weight: normal;
}

a {
    color: var(--rhino-purple);
}

a:visited {
    color: var(--rhino-purple);
}

a:hover {
    color: var(--rhino-purple);
}

.site-header {
    border: 0;
    border-style: none;
}

.site-title:visited {
    color: var(--off-white);
    text-decoration: none;
}

.site-title:hover {
    color: var(--off-white);
    text-decoration: none;
    font-weight: normal;
}

.site-footer {
    border: 0;
    border-style: none;
}

.footer-col-wrapper {
    color: var(--off-white);
}

label {
    background: var(--site-300);
    color: var(--off-white);
    border-style: none;
    border-radius: 0.65em;
}

.site-nav {
    background-color: var(--site-300);
    border-radius: 0.65em;
    padding: .5em;
}

.site-nav .menu-icon>svg {
    fill: var(--off-white);
}